/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #f4f4f4; */
    color: #333;
    line-height: 1.6;
}

h1, h3 {
    color: #333;
    font-weight: 600;
}

/* Container */
.container-contact {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Contact Section */
.contact-section {
    padding: 60px 20px;
    background-color: #ffffffed;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-section h1 {
    font-size: 42px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 18px;
    margin-bottom: 50px;
    color: #7f8c8d;
}

/* Contact Info */
.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.info-box {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 10px;
}

.info-box:hover {
    transform: translateY(-10px);
}

.info-box h3 {
    font-size: 24px;
    color: #2980b9;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 18px;
    color: #7f8c8d;
}

/* Contact Form */
.form-container {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #2c3e50;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    color: black;
}

.form-group input:focus, 
.form-group textarea:focus {
    border-color: #3498db;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

/* Button Styling */
.btn {
    background-color: #2980b9;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

.btn:hover {
    background-color: #1f6396;
    transform: translateY(-2px);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #fff;
    margin-top: 40px;
    border-top: 3px solid #3498db;
}

footer p {
    margin-bottom: 0;
}
.red{
    color: red;
}